node_modules
npm-debug.log
Dockerfile*
.env
.env*.local
.vscode/
.git
.gitignore
.idea/
.DS_Store
dist
build/
coverage/
logs/
*.log
*.tsbuildinfo
eslint.config.js
.prettierrc
.prettierignore
yarn.lock
pnpm-lock.yaml
.next/
.cache/
.nuxt/
.svelte-kit/
.vite/
