name: ci-api
on:
  push:
    branches:
      - main
    paths:
      - 'server/**'
      - '!**.md'
      - '!.dockerignore'
      - '!.gitignore'
     

permissions:
  contents: read
  security-events: write

env:
  IMAGE_NAME: express-api
  IMAGE_LATEST_TAG: ${{ secrets.GIT_USERNAME }}/express-api:latest
  IMAGE_TAG: express-api:latest, express-api:${{ github.sha }}


jobs:
  security-snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      
      - name: Install Backend Dependencies
        run: npm install --prefix server
        
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=low --file=server/package.json

  build:
    needs: security-snyk
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Set up QEMU 
      uses: docker/setup-qemu-action@v3 

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      uses: docker/build-push-action@v6
      with: 
        context: ./server
        push: false
        tags: ${{ env.IMAGE_TAG }}
        load: true
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME }}.tar

    - name: Upload Image Artifact
      uses:  actions/upload-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME }}
        path: /tmp/${{ env.IMAGE_NAME }}.tar

  trivy-scan-image:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME }}
        path: /tmp
  
    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
        docker image ls -a

    -  name: Install Trivy
       run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
    - name: Run Trivy vulnerability scan
      run: |
        trivy image \
          --exit-code 0 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME }}:latest


  dast-scan:
    runs-on: ubuntu-latest
    needs: trivy-scan-image
    steps:
      - name: Download Image artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.IMAGE_NAME }}
          path: /tmp

      - name: Start API for Testing
        run: |
          docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
          
          # Start container mapping 5500 to 5500
          docker run -d \
            -p 5500:5500 \
            --name web-api \
            -e NODE_ENV=development \
            -e DB_URI="${{ env.DB_URI }}" \
            -e JWT_SECRET="${{ env.JWT_SECRET }}" \
            -e ARCJET_KEY="${{ env.ARCJET_KEY }}" \
            -e QSTASH_TOKEN="${{ env.QSTASH_TOKEN }}" \
            -e QSTASH_URL="${{ env.QSTASH_URL }}" \
            --health-cmd "curl -f http://localhost:5500 || exit 1" \
            --health-interval 5s \
            --health-timeout 5s \
            --health-retries 5 \
            ${{ env.IMAGE_NAME }}:latest
          
          # Wait for the container to become 'healthy'
          echo "Waiting for API to pass health check..."
          for i in {1..20}; do
            if docker exec web-api wget -qO- http://localhost:5500; then
              echo "API is up!"
              exit 0
            fi
            echo "Attempt $i: API not ready yet..."
            sleep 3
          done
          docker logs web-api
          exit 1

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.13.0
        with:
          target: 'http://localhost:5500'
          fail_action: false

  push-image:
    name: push image to docker hub
    runs-on: ubuntu-latest
    needs: dast-scan
    permissions:
      contents: write 

    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME }}
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
        docker image ls -a

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Tag Image with Docker Hub Username Prefix
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}"
        
        docker tag ${{ env.IMAGE_NAME }}:latest $DOCKER_REPO:latest
        
        docker tag ${{ env.IMAGE_NAME }}:latest $DOCKER_REPO:${{ github.sha }}

    - name: Push Image to Docker Hub
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}"
        
        docker push $DOCKER_REPO:latest
        docker push $DOCKER_REPO:${{ github.sha }}

    - name: Docker - Logout
      run: docker logout
