name: ci-api
on:
  push:
    branches:
      - main
    paths:
      - 'server/**'
      - '!**.md'
      - '!.dockerignore'
      - '!.gitignore'
     

permissions:
  contents: read

env:
  IMAGE_NAME: express-api
  DOCKER_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/express-api

jobs:
  secrets-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # TruffleHog needs full history to scan all commits

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified

  security-snyk:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Backend Dependencies
        run: npm install --prefix server
        
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high --file=server/package.json

  build:
    needs: security-snyk
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Build and Export to Local Docker
      uses: docker/build-push-action@v6
      with:
        context: ./server
        load: true # Loads into local docker runtime
        tags: ${{ env.IMAGE_NAME }}:temp
        cache-from: type=gha

    - name: Save Image as Tar
      run: docker save ${{ env.IMAGE_NAME }}:temp > /tmp/image.tar

    - uses: actions/upload-artifact@v4
      with:
        name: image-bin
        path: /tmp/image.tar

  trivy-scan-image:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
          name: image-bin
          path: /tmp
  
    - name: Load image
      run: docker load < /tmp/image.tar

    -  name: Install Trivy
       run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
    - name: Run Trivy vulnerability scan
      run: |
        trivy image \
          --exit-code 1 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME }}:temp


  dast-scan:
    runs-on: ubuntu-latest
    needs: trivy-scan-image
    permissions:
      contents: read
      issues: write    # Required for ZAP to create the findings issue
      pull-requests: write
    services:
      mongodb:
        image: mongo:6
        ports:
          - 27017:27017
    steps:
      - name: Download Image artifact
        uses: actions/download-artifact@v4
        with:
          name: image-bin
          path: /tmp
          
      - name: Start API for Testing
        run: |
          docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
          
          docker run -d \
            --network="host" \
            --name web-api \
            -e NODE_ENV=development \
            -e DB_URI="mongodb://localhost:27017/test-db" \
            -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
            -e ARCJET_KEY="${{ secrets.ARCJET_KEY }}" \
            -e QSTASH_TOKEN="${{ secrets.QSTASH_TOKEN }}" \
            -e QSTASH_URL="${{ secrets.QSTASH_URL }}" \
            ${{ env.IMAGE_NAME }}:latest
          
          # Wait for the container to become 'healthy'
          echo "Waiting for API to pass health check..."
          for i in {1..20}; do
            if wget -qO- --header="User-Agent: Mozilla/5.0" http://127.0.0.1:5500; then
              echo "API is up!"
              exit 0
            fi
            echo "Attempt $i: API not ready yet..."
            sleep 3
          done
          docker logs web-api
          exit 1

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.13.0
        # This prevents the artifact error from failing your whole build
        continue-on-error: true 
        with:
          target: 'http://127.0.0.1:5500'
          artifact_name: 'zap_scan_report' 
          allow_issue_writing: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload ZAP Reports (Manual Fix)
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: final-zap-report
          path: |
            report_html.html
            report_md.md
            report_json.json

  push-image:
    name: push image to docker hub
    runs-on: ubuntu-latest
    needs: dast-scan
    permissions:
      contents: write 

    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
          name: image-bin
          path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
        docker image ls -a

    - name: Login to Docker Hub
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
    - name: Push Tags
      run: |
        docker load < /tmp/image.tar
        docker tag ${{ env.IMAGE_NAME }}:temp ${{ env.DOCKER_REPO }}:${{ github.sha }}
        docker tag ${{ env.IMAGE_NAME }}:temp ${{ env.DOCKER_REPO }}:latest
        docker push --all-tags ${{ env.DOCKER_REPO }}

    - name: Docker - Logout
      run: docker logout

  notify:
    runs-on: ubuntu-latest
    needs: [push-image]
    if: always()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'Deployment Status'
          SLACK_MESSAGE: 'Build ${{ needs.push-image.result == "success" && "Passed ✅" || "Failed ❌" }}'
          SLACK_COLOR: ${{ needs.push-image.result == 'success' && 'good' || 'danger' }}
